/*
 * THEME
 */

:root {
    /* Colors */
    --ess-color-background: #ffffff;
    --ess-color-border: #cccccc;

    --ess-color-text-rgb: 51, 51, 51;
    --ess-color-text: rgb(var(--ess-color-text-rgb));

    --ess-color-primary-rgb: 49, 130, 206;
    --ess-color-primary: rgb(var(--ess-color-primary-rgb));

    /* Design Tokens */
    --ess-min-height: 1.5rem;
    --ess-border-width: 1px;
    --ess-border-radius: 3px;
    --ess-transition-easing: ease-in-out;
    --ess-transition-duration: 200ms;

    --ess-background-color: var(--ess-color-background);
    --ess-color: var(--ess-color-text);
    --ess-border-color: var(--ess-color-border);

    --ess-background-color-hover: var(--ess-color-background);
    --ess-color-hover: var(--ess-color-text);
    --ess-border-color-hover: rgba(var(--ess-color-text-rgb), 0.35);

    --ess-background-color-focus: var(--ess-color-background);
    --ess-color-hover-focus: var(--ess-color-text);
    --ess-border-color-focus: var(--ess-color-primary);

    --ess-placeholder-color: rgba(var(--ess-color-text-rgb), 0.5);

    --ess-icon-color: rgba(var(--ess-color-text-rgb), 0.5);
    --ess-icon-color-hover: rgba(var(--ess-color-text-rgb), 0.5);
    --ess-icon-background-color-hover: rgba(var(--ess-color-text-rgb), 0.05);

    --ess-options-container-box-shadow: 0 0 10px 0 rgba(var(--ess-color-text-rgb), 0.05);
    --ess-options-container-border-color: var(--ess-color-border);

    --ess-option-color-hover: inherit;
    --ess-option-background-color-hover: rgba(var(--ess-color-text-rgb), 0.05);
    --ess-option-color-selected: var(--ess-color-primary);
    --ess-option-background-color-selected: rgba(var(--ess-color-primary-rgb), 0.1);

    --ess-error-color: #c53030;
    --ess-error-background-color: #feb2b2;
}

/*
 * COMPONENTS
 */

.elm-smart-select--search-or-no-results-text {
    width: 100%;
    padding: 0.5rem;
    color: var(--ess-placeholder-color);
    font-style: italic;
}

.elm-smart-select--loading-spinner-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.elm-smart-select--loading-spinner {
    position: relative;
}

.elm-smart-select--search-prompt-container {
    width: 100%;
    color: var(--ess-placeholder-color);
    font-style: italic;
}

.elm-smart-select--search-prompt {
    width: 100%;
    padding: 0.5rem;
}

.elm-smart-select--error-box-container {
    padding: 0.5rem;
}

.elm-smart-select--error-box {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--ess-error-background-color);
    color: var(--ess-error-color);
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elm-smart-select--error-container {
    flex-wrap: wrap;
    margin-right: 1rem;
}

.elm-smart-select--dismiss-error-x {
    cursor: pointer;
}

/* Text field */

.elm-smart-select--text-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
    overflow: hidden;
    border-radius: var(--ess-border-radius);
    cursor: text;
    transition: all var(--ess-transition-easing) var(--ess-transition-duration);
    padding: 0.5rem 0.5rem;

    background-color: var(--ess-background-color);
    color: var(--ess-color);
    border: var(--ess-border-width) solid var(--ess-border-color);
}

.elm-smart-select--text-field:hover {
    background-color: var(--ess-background-color-hover);
    color: var(--ess-color-hover);
    border-color: var(--ess-border-color-hover);
}

.elm-smart-select--text-field:focus-within {
    background-color: var(--ess-background-color-focus);
    color: var(--ess-color-focus);
    border-color: var(--ess-border-color-focus);
}

.elm-smart-select--text-field:hover 
.elm-smart-select--text-field-icon-x {
    opacity: 1;
}

.elm-smart-select--text-field input {
    flex-grow: 1;
    outline: none;
    border: none;
    border-radius: 0;
    min-height: var(--ess-min-height);
    background-color: transparent;
    width: 0;
    min-width: 40px;
}

.elm-smart-select--text-field input:placeholder-shown,
.elm-smart-select--text-field input::placeholder {
    text-overflow: ellipsis;
    color: var(--ess-placeholder-color);
}

.elm-smart-select--text-field-input-container {
    display: flex;
    align-items: center;
    gap: 0.125rem;
    flex-grow: 1;
}

.elm-smart-select--text-field-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    color: var(--ess-icon-color);
    transition: all var(--ess-transition-easing) var(--ess-transition-duration);
}

.elm-smart-select--text-field-icon:hover {
    color: var(--ess-icon-color-hover);
    background-color: var(--ess-icon-background-color-hover);
}

.elm-smart-select--text-field-icon-x {
    transition: all var(--ess-transition-easing) var(--ess-transition-duration);
    opacity: 0;
}

/* Utilities */

.elm-smart-select--disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none;
}

/* Options List */

.elm-smart-select--options-list {
    width: 100%;
    overflow: auto;
    color: var(--ess-color);
}

.elm-smart-select--options-list-item {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color var(--ess-transition-easing) var(--ess-transition-duration);
}

.elm-smart-select--options-list-item-focused {
    color: var(--ess-option-color-hover);
    background-color: var(--ess-option-background-color-hover);
}

.elm-smart-select--options-list-item-selected {
    background-color: var(--ess-option-background-color-selected);
    color: var(--ess-option-color-selected);
}

.elm-smart-select--options-list-item-description {
    font-size: .75rem;
    opacity: 0.5;
}

/* Alignment */

.elm-smart-select--container-wrapper {
    padding: .25rem 0;
}

.elm-smart-select--options-container {
    background: var(--ess-background-color);
    color: var(--ess-color);
    z-index: 50;
    display: flex;
    border: var(--ess-border-width) solid var(--ess-options-container-border-color);
    border-radius: var(--ess-border-radius);
    box-shadow: var(--ess-options-container-box-shadow);
    overflow: auto;
}

.elm-smart-select--options-container-below {
    flex-direction: column;
}

.elm-smart-select--options-container-above {
    flex-direction: column-reverse;
}