:root {
    --elm-smart-select-height: 1.5rem;
    --elm-smart-select-radius: 0.25rem;
    --elm-smart-select-background: #edf2f7;
    --elm-smart-select-border: #a0aec0;
    --elm-smart-select-border-focused: #3182ce;
}



.elm-smart-select--selector-container {
    width: 100%;
    min-height: var(--elm-smart-select-height)
}

.elm-smart-select--multi-selector-container-min-height {
    min-height: var(--elm-smart-select-height);
}

.elm-smart-select--disabled {
    cursor: default;
    opacity: .5;
    border: 1px solid var(--elm-smart-select-border);
    border-radius: var(--elm-smart-select-radius)
}

.elm-smart-select--enabled-closed {
    cursor: pointer;
    border: 1px solid var(--elm-smart-select-border);
    border-radius: var(--elm-smart-select-radius);
}

.elm-smart-select--enabled-opened {
    border: 1px solid var(--elm-smart-select-border);
    border-radius: var(--elm-smart-select-radius);
}


.elm-smart-select--label-and-selector-container {
    position: relative;
    min-height: var(--elm-smart-select-height);
}

.elm-smart-select--label {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    min-height: var(--elm-smart-select-height);
}

.elm-smart-select--container-wrapper {
    padding: .25rem 0;
}

.elm-smart-select--options-container {
    background: #fff;
    z-index: 50;
    border: 1px solid var(--elm-smart-select-border);
    border-radius: var(--elm-smart-select-radius);
    display: flex;
}

.elm-smart-select--options-container-below {
    flex-direction: column;
}

.elm-smart-select--options-container-above {
    flex-direction: column-reverse;
}

.elm-smart-select--invisible {
    visibility: hidden;
}

.elm-smart-select--single-selector-input-container {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.elm-smart-select--single-selector-input {
    width: 100%;
    outline: 0;
    border: 1px solid var(--elm-smart-select-border);
    border-radius: var(--elm-smart-select-radius);
}

.elm-smart-select--single-selector-input:focus {
    border-color: var(--elm-smart-select-border-focused);
}

.elm-smart-select--multi-selected-and-results-container {
    position: relative;
}

.elm-smart-select--multi-selected-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.elm-smart-select--selected-entity-wrapper {
    margin: .25rem;
}

.elm-smart-select--multi-input-container {
    width: 50px;
}

.elm-smart-select--multi-input {
    width: 100%;
    border: none;
    outline: 0;
}

.elm-smart-select--search-or-no-results-text {
    width: 100%;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.elm-smart-select--loading-spinner-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.elm-smart-select--loading-spinner {
    position: relative;
}

.elm-smart-select--search-prompt-container {
    width: 100%;
}

.elm-smart-select--search-prompt {
    width: 100%;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.elm-smart-select--container{
    width: 100%;
    overflow: auto;
}

.elm-smart-select--select-option {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    cursor: pointer;
}

.elm-smart-select--select-option-focused {
    background-color: var(--elm-smart-select-border-focused);
    color: #fff;
}

.elm-smart-select--select-option-description {
    font-size: .875rem;
    padding: .25rem;
}

.elm-smart-select--select-option-description-unfocused {
    color: #4a5568;
}

.elm-smart-select--select-option-description-focused {
    color: var(--elm-smart-select-background);
}

.elm-smart-select--error-box-container {
    padding: 0.5rem;
}

.elm-smart-select--error-box {
    width: 100%;
    padding: 0.5rem;
    background-color: #feb2b2;
    color: #c53030;
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elm-smart-select--error-container {
    flex-wrap: wrap;
    margin-right: 1rem;
}

.elm-smart-select--dismiss-error-x {
    cursor: pointer;
}
